<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.form.mapper.ComplaintMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.form.model.po.Complaint">
        <id column="cid" property="cid" />
        <result column="pubilsher_id" property="pubilsherId" />
        <result column="content" property="content" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="process" property="process" />
        <result column="profile" property="profile" />
        <result column="solver_id" property="solverId" />
        <result column="title" property="title" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        cid, pubilsher_id, content, state, create_time, process, profile, solver_id, title
    </sql>

</mapper>
